@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.dropdown-toggle{
    color: white;
}

html{
    position: relative;
    min-height: 100%;
}


main{
    margin-bottom: 373px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 16px;
}

h1{
    font-family: $font-family-sans-serif;
    font-size: 20px;
}

h2{
    font-family: $font-family-serif;
    font-size: 18px;
    padding: 3px;
}

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}

#longeur{
    min-height: 1000px;
    padding-bottom: 0;
}

.form-label{
    color: $secondary;
    font-family: $font-family-serif;
    font-size: 16px;
}
.btn-primary{
    font-family: $font-family-serif;
    font-size: 16px;
}

.hero-scene{
    position: relative;
    height: 100%;
    width: ;
}
