@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

.dropdown-toggle{
    color: white;
}

html{
    position: relative;
    min-height: 100%;
}


main{
    margin-bottom: 355px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

h1{
    font-family: $font-family-sans-serif;
}

